<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>X Store example</title>

        <!-- Include bootstrap css -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <script src="jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>


        <!-- header -->
        <header class="top" role="header">
            <div class="container">
                <a href="#" class="navbar-brand pull-left">X Store</a>
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
                <nav class="navbar-collapse collapse" role="navigation">
                    <ul class="navbar-nav nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>

        </header>


    <div class="panel panel-default ">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle active " data-toggle="dropdown">
                        Filter by disabled <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Filter by Account Status</a> </li>
                        <li><a href="#">Filter by Department</a> </li>
                        <li class="divider"></li>
                        <li><a href="#">Reset</a> </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Sort By First Name <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Sort by FirstName</a> </li>
                        <li><a href="#">Sort by Email</a> </li>
                        <li class="divider"></li>
                        <li><a href="#">Reset</a> </li>
                    </ul>
                </div>
            </div>
            <div class="pull-left">
                <button class="btn btn-success">New</button>
                <button class="btn btn-warning">Disable</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
        <div class="panel panel-default">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Birthday</td>
                    <td>Email</td>
                    <td>Phone Number</td>
                    <td>Action</td>
                 </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Lainxu</td>
                    <td>1982-12-12</td>
                    <td>xx@s.com</td>
                    <td>13983943800</td>
                    <td>
                        <button class="btn btn-xs btn-info">
                            <span class="glyphicon glyphicon-list"></span> Info
                        </button>
                        <button class="btn btn-xs btn-success">
                           <span class="glyphicon glyphicon-user"></span> Role
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                                More <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Project</a> </li>
                                <li><a href="#">Tasks</a> </li>
                                <li><a href="#">Others</a> </li>
                            </ul>
                        </div>
                    </td>
                 </tr>


            </tbody>
            <tfoot></tfoot>
        </table>
            </div>
        <div class="panel panel-default">
            <ul class="list-group">
                <li class="list-group-item">
                    <ul class="pagination">
                        <li class="disabled"><span>Prev</span></li>
                        <li class="active"><a href="#">1<span class="sr-only">(current)</span> </a> </li>
                        <li><a href="#">2</a> </li>
                        <li><a href="#">...</a> </li>
                        <li><a href="#">12</a> </li>
                        <li><a href="#">13</a> </li>
                        <li class="disabled"><span>Next</span></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    </body>
</html>
