{% extends "master.html" %}
{% block title %} HomePage {% endblock title %}

{% block content %}
<!-- 旋转轮播 -->

<div data-ride="carousel" class="carousel slide" id="carousel-container">
    <!-- pictures container -->
    <div class="carousel-inner">
        <div class="item"><img src="A" alt="First picture" /></div>
        <div class="item active" ><img alt="Second picture" src="B" /></div>
        <div class="item"><img src="C" alt="Third picture" /></div>
    </div>

    <!-- circle indicators -->
    <ol class="carousel-indicators">
        <li data-slide-to="0" data-target="#carousel-container"></li>
         <li data-slide-to="1" data-target="#carousel-container"></li>
         <li data-slide-to="2" data-target="#carousel-container" class="active"></li>
    </ol>
</div>
{% endblock content %}